.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 20px 0;   
}

table {
    width: 100%; 
    min-width: 700px; 
    background-color: rgba(255, 255, 255, 0.726); 
    backdrop-filter: blur(20px); 
    border-collapse: collapse; 
    border: 1px solid rgba(24, 24, 24, 0.589); 
    border-radius: 8px; 
    overflow: hidden; 
}

thead {
    background-color: rgb(0, 0, 0);
    font-family: "Rowdies";
    font-weight: 500;
}

th {
    color: white;
    padding: 10px;
}

tbody tr {
    margin-bottom: 20px;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid rgba(24, 24, 24, 0.3);
    text-align: center;
}

/* Stock Level */
.lowStock {
    color: red;
    font-weight: bold;
}

.mediumStock {
    color: orange;
}

.highStock {
    color: green;
}

/* Sales */
.highSales {
    color: darkblue;
    font-weight: bold;
}

.saleWarning {
    color: rgb(255, 119, 8);
}

.saleDanger {
    color: rgb(255, 0, 0);
}

/* Rating */
.veryLowRating {
    color: darkred;
    font-weight: bold;
}

.lowRating {
    color: red;
    text-decoration: underline;
}

.normalRating {
    color: black;
}

.highRating {
    color: darkgreen;
    font-weight: bold;
}

/* Total Sales */
.highTotalSales {
    color: darkblue;
    font-weight: bold;
}

.mediumTotalSales {
    color: blue;
}

.lowTotalSales {
    color: grey;
}

/* Conversions */
.highConversions {
    color: darkgreen;
    font-weight: bold;
}

.mediumConversions {
    color: green;
}

.lowConversions {
    color: lightgrey;
}


.table-container::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: #bbbbbb; 
    border-radius: 10px; 
}

.table-container::-webkit-scrollbar-thumb {
    background: #8b8b8b;
    border-radius: 10px; 
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #000000; 
}

@media (max-width: 600px) {
    .table-container {
        overflow-x: auto;
    }
  
    table {
        width: 600px; 
    }
}
